<div class="quedas">
  <strong><%= queda_counter + 1 %></strong><br>
  <p><%= queda.amostra %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(queda.created_at) + " ago", queda %>
    <span class="admin">
      <!-- | <%= link_to "Edit", edit_queda_path(queda) %> -->| 
      <%= link_to "Excluir", queda, method: :delete, data: { confirm: "Tem certeza que deseja excluir essa amostra?"} %>
    </span>
  </div>
</div>