<div class="page-header">
  <h2>All Samples</h2>
</div>

<% @quedas.each do |queda| %>
  <div class="quedas">
    <strong><%= queda.id %></strong>
    <p><%= queda.amostra %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(queda.created_at) + " ago", queda %>
      <span class="admin">
        | <%= link_to "Edit", edit_queda_path(queda) %> | 
        <%= link_to "Delete", queda, method: :delete, data: { confirm: "Are you sure you want to delete this sample?"} %>
      </span>
    </div>
  </div>
<% end %>