<p id="notice"><%= notice %></p>

<div id="dados">

  <!-- <%= link_to 'Edit', edit_queda_path(@queda) %> | -->

  <table>
    <tr>
      <td><strong>Imei:</strong></td>
      <td><%= @queda.imei %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @queda.email %></td>
    </tr>
    <tr>
      <td><strong>Classificação:</strong></td>
      <td class="<%= @queda.tipo_queda == "pillow" ? "safe" : "dangerous" %>">
        <%= @queda.tipo_queda == "pillow" ? "Queda segura" : "Queda não segura" %></td>
    </tr>
    <tr>
      <td><strong>Feedback do usuário:</strong></td>
      <td <%= @queda.feedback == "1" ? "class=safe" : (@queda.feedback == "2" ? "class=\"dangerous\"" : " - ") %> >
        <%= @queda.feedback == "1" ? "Queda segura" : (@queda.feedback == "2" ? "Queda não segura" : " - ") %>
      </td>
    </tr>
    <tr>
      <td><strong>Momento da queda:</strong></td>
      <td>
        <% if @queda.tempo_queda.blank? then %>
        <%= " - " %>
        <% else %>
        <% t = Time.at(Integer(@queda.tempo_queda)) %>
        <%= t.strftime("%d/%m/%Y às %T") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Recebimento:</strong></td>
      <td>
        <% if @queda.tempo_recebimento.blank? then %>
        <%= " - " %>
        <% else %>
        <% t = Time.at(Integer(@queda.tempo_recebimento)) %>
        <% #t.day.to_s + "/" + t.mon.to_s + "/" + t.year.to_s + " às " + t.sec.to_s + ":" + t.min.to_s + ":" +  %>
        <%= t.strftime("%d/%m/%Y às %T") %>
        <% end %>
      </td>
    </tr>
    <!-- <tr>
      <td><strong>Amostra:</strong></td>
      <td><%= @queda.amostra %></td>
    </tr> -->
    <tr>
      <td><strong>GPS:</strong></td>
      <td>
        <a target="_blank" href="http://maps.google.com/maps?q=<%= @queda.locationX %>,<%= @queda.locationY %>&15z">Ver local da queda</a>
      </td>
      <!-- <td><%= @queda.locationX %> , 
          <%= @queda.locationY %>
      </td> -->
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table><br>
  <p>
    
  </p>
  <%= link_to 'Voltar', quedas_path %>
</div>