<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @queda.imei %>
</p>

<p>
  <strong>Email:</strong>
  <%= @queda.email %>
</p>

<p>
  <strong>Classificação:</strong>
  <%= @queda.tipo_queda %>
</p>

<p>
  <strong>Timestamp queda:</strong>
  <%= @queda.tempo_queda %>
</p>

<p>
  <strong>Timestamp recebimento:</strong>
  <%= @queda.tempo_recebimento %>
</p>

<p>
  <strong>Amostra:</strong>
  <%= @queda.amostra %>
</p>

<p>
  <strong>GPS:</strong>
  <%= @queda.locationX %> - 
  <%= @queda.locationY %>
</p>

<%= link_to 'Edit', edit_queda_path(@queda) %> |
<%= link_to 'Back', quedas_path %>
