<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<label class="navbar-brand"> AccelSamples</label>
				<ul class="nav navbar-nav">
					<li><%= link_to "All Samples", statuses_path %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
        <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</body>
</html>
